<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxrun.repairshop.service.EmployeeMapper">

<select id="getWorkerList" parameterType="java.util.HashMap" resultType="CamelCaseHashMap">
	{
		call sp_getWorkerList(#{repairShopNo})
	}	
</select>

<!-- CREATE PROCEDURE	[dbo].[sp_regWorker]	@departmentNo	int,
												@workerNo		bigint=null,
												@workerName		nvarchar(100),
												@position		nvarchar(100),
												@managerYn		nchar(1)='N',
												@cpNo			integer,
												@lastUseDate	smalldatetime,
												@loginId		nvarchar(30),
												@pwd			nvarchar(100),
												@status			nvarchar(50),
												@os				nvarchar(50),
												@osVersion		nvarchar(50),
												@regUserId		bigint,
												@outWorkerNo	bigint -->
									
<select id="regWorker" parameterType="java.util.HashMap" statementType="CALLABLE" resultType="CamelCaseHashMap">
	{
		call sp_regWorker(	#{departmentNo},
							#{workerNo},
							#{workerName},
							#{position},
							#{managerYn},
							#{cpNo},
							#{lastUseDate},
							#{loginId},
							#{pwd},
							#{status},
							#{os},
							#{osVersion},
							#{regUserId},
							#{outWorkerNo, jdbcType=BIGINT, mode=OUT})
	}	
</select>

</mapper>