<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sd.login.service.impl.LoginServiceMapper">

<select id="signIn" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	{
		call sp_signIn(#{empName},#{passwd})
	}	
</select>

<select id="signOut" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	{
		call sp_signOut(#{empName},#{passwd})
	}	
</select>
</mapper>
