<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxrun.application.login.service.LoginMapper">

<select id="login" parameterType="java.util.HashMap" resultType="CamelCaseHashMap">
	{
		call sp_login(#{loginId},#{passwd})
	}	
</select>

<select id="logout" parameterType="java.util.HashMap" resultType="CamelCaseHashMap">
	{
		call sp_logout(#{loginId},#{passwd})
	}	
</select>
</mapper>
